<link rel="stylesheet" href="../../css/dashboard.css">

<!-- Dashboard Hero Text -->
<div class="dashboard-hero-container">
    <img class="dashboard-hero" src="../images/dashboard.png" alt="dashboard hero text">

    <!-- PLAY -->
    <a href="/gameplay"><img class="play" src="../images/play.png" alt=""></a>

    <!-- Logout Link-->
    <a class="logout-link" href="/logout"> LOGOUT</a>

    <h3>level: {{currentUser.level}}</h3>


</div>


<!-- <div class="content">

  <div class="grid-container">
    <div class="item1">
      <ul> -->
        <!-- <li class = "heading" style="padding:18px"><h1>DASHBOARD</h1></li> -->
        <!-- <li class = "play" style="float:right">
            <h2><a class="button" href="/gameplay">PLAY MULTIPLAYER</a></h2>
        </li> -->
        <!--
        <li class = "play" style="float:right">
            <h2><a class="button" href="/singleplayer">PLAY SINGLEPLAYER</a></h2>
        </li>
    -->

      <!-- </ul>

    </div>

    <div class="item2">
      <div class="data">
        <a href="{{post.url}}" class="lead">{{post.postTitle}}</a>
        <p>{{currentUser.calcumon}}</p>
        <img src="../images/Calcumons/{{currentUser.monster}}.png"
              width="300" height="227">
        <h1>{{currentUser.username}}</h1>
        <h3>level: {{currentUser.level}}</h3>


      </div>

    </div>

    <div class="item3">
      Main -->
      {{!-- buttons: My items, Change Calcumon(buy), Store (accessories/assets) --}}
    <!-- </div>

    <div class="item4">
      Right -->
      {{!-- options to display based on above selected button --}}
    <!-- </div>
  </div> -->


</div>
