
<link rel="stylesheet" href="../../css/dashboard.css">

<div class="row">

  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.postTitle}}</a>
    <h1>{{currentUser.username}}</h1>
    <p>{{currentUser.calcumon}}</p>
    <img src="../images/Calcumons/{{currentUser.calcumon.name}}.png"
          width="300" height="227">
    <a class="button" href="/gameplay">PLAY</a>
    <a class="button" href="/logout">Logout</a>

    {{#if currentUser}}
    {{/if}}


  </div>
</div>
