<link rel="stylesheet" href="../../css/dashboard.css">

<!-- Dashboard Hero Text -->
<div class="dashboard-hero-container">
    <img class="dashboard-hero" src="../images/dashboard.png" alt="dashboard hero text">


    <div class="game-buttons">
        <!-- Create Game Button -->
        <a href="/gameplay"><img class="play" src="../images/create-game-btn.png" alt=""></a>

        <!-- Join Game Button -->
        <a href="/gameplay"><img class="play" src="../images/join-game-btn.png" alt=""></a>
    </div>

    <div id = "calcumon">

    </div>

    <!-- Logout Link-->
    <h3>{{currentUser.username}}</h3>
    <h3>level: {{currentUser.level}}</h3>
    <br>
    <a class="logout-link" href="/logout"> LOGOUT</a>

    


</div>

<script>
  {{!-- console.log({{currentUser.monster}}) --}}
  let calcumon = `${{currentUser.monster}}`
  console.log(calcumon)
  let path = ""
  if (calcumon == "monster-one" | calcumon == "monster1") {
    path = "../images/Calcumons/monster-one.png"
  } else {
    path = "../images/Calcumons/monster-two.png"
  }
  
  // add image element
  document.getElementById('calcumon').innerHTML = `<img class = "monster" src="../images/chatbubbles/one.png" alt="calcumon">`
  document.getElementById('calcumon').innerHTML += `<img class = "monster" src='${path}' alt="calcumon">`
  document.getElementById('calcumon').innerHTML += `<img class = "monster" src="../images/chatbubbles/one2.png" alt="calcumon">`
</script>
<!-- <div class="content">

  <div class="grid-container">
    <div class="item1">
      <ul> -->
        <!-- <li class = "heading" style="padding:18px"><h1>DASHBOARD</h1></li> -->
        <!-- <li class = "play" style="float:right">
            <h2><a class="button" href="/gameplay">PLAY MULTIPLAYER</a></h2>
        </li> -->
        <!--
        <li class = "play" style="float:right">
            <h2><a class="button" href="/singleplayer">PLAY SINGLEPLAYER</a></h2>
        </li>
    -->

      <!-- </ul>

    </div>

    <div class="item2">
      <div class="data">
        <a href="{{post.url}}" class="lead">{{post.postTitle}}</a>
        <p>{{currentUser.calcumon}}</p>
        <img src="../images/Calcumons/{{currentUser.monster}}.png"
              width="300" height="227">
        <h1>{{currentUser.username}}</h1>
        <h3>level: {{currentUser.level}}</h3>


      </div>

    </div>

    <div class="item3">
      Main -->
      {{!-- buttons: My items, Change Calcumon(buy), Store (accessories/assets) --}}
    <!-- </div>

    <div class="item4">
      Right -->
      {{!-- options to display based on above selected button --}}
    <!-- </div>
  </div> -->


</div>
