<link rel="stylesheet" href="../css/gameNavbar.css">
<link rel="stylesheet" href="../../css/gamePlay.css">
<div class = "content">
      <!-- navbar (settings, level, dashboard) -->
      <div class = "nav">
          <ul>
              {{!-- <li><a href="#signup">settings</a></li> --}}
              {{!-- import and display player level from database here --}}
              <li style="padding:27px">level: {{currentUser.level}}</li>
              <li style="float:right">
                  {{!-- import user id and take to /dashboard/{userid} link --}}
                  <a class="active" href='/dashboard/{{currentUser._id}}'>
                      Dashboard
                  </a>
              </li>
          </ul>

      </div>
      <canvas class = "game" id="game" width="480" height="320"></canvas>
    </div>

    {{!-- display attacks --}}
    <div id = "attackList">
    </div>

    <!-- images -->
    <div style="visibility:hidden">
      <img id="monster1"
           src="../images/Calcumons/monster1.png"
           width="300" height="227">
      <img id="monster2"
           src="../images/Calcumons/monster2.png"
           width="300" height="227">
      <img id="monster3"
           src="../images/Calcumons/monster3.png"
           width="300" height="227">
      <img id="dash"
            onclick="alert('works')"
            width="10" height="10"
            src="../images/gameOver/dashboard.png">
      <img id="lose"
            width="220" height="277"
            src="../images/gameOver/lose.png">
      <img id="win"
            width="300" height="227"
            src="../images/gameOver/win.png">
      <img id="next"
            width="10" height="10"
            src="../images/gameOver/next_level.png">
      <img id="try"
            width="10" height="10"
            src="../images/gameOver/try_again.png">
    </div>

    <script src="../js/CanvasInput/CanvasInput.js"></script>
    <script src="../js/CanvasInput/CanvasInput.min.js"></script>
    <script src="../js/problemGenerator.js"></script>
    <script src="../js/solutionApi.js"></script>
    <script src="../js/Player.js"></script>
    <script src="../js/Computer.js"></script>
    <script src="../js/Game.js"></script>

    <script>
        console.log("PLEASE PRINT")
        let canvas = document.getElementById("game");
        // 2D rendering context, to paint to canvas
        let ctx = canvas.getContext("2d");
        ctx.canvas.width  = window.outerWidth;
        ctx.canvas.height = window.outerHeight;
        console.log("IN GAMEPLAY HANDLEBARS, PRINTING MONSTER")
        console.log({{currentUser.monster}})
        let Calcumon = new Game(ctx, canvas, {{currentUser.level}}, {{currentUser.monster}})
        // ctx.canvas.height = window.innerHeight;

        // draw game
        Calcumon.draw()
        function run() {
            Calcumon.update()
            let buttons = document.getElementsByClassName('attackButton')
            if (buttons) {
                for (let i = 0; i < buttons.length; i++) {
                    buttons[i].onclick = (e) => {
                        console.log("setting stuff")
                        Calcumon.updateIndex(i)
                    }
                }
            }
        }
        run()

        // will execute draw every 10 milliseconds
        setInterval(run, 10);
    </script>
